<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node &amp; Express REST API</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
        body {
            padding: 40px;
        }

        a>i {
            font-size: 3rem !important;
            margin-right: 10px !important;
        }

        .jumbotron {
            padding-bottom: 20px !important;
        }
    </style>
</head>

<body>
    <main class="container-lg">
        <header class="jumbotron">
            <h1 class="display-2">REST API</h1>
            <h2>A RESTful Web Service Powered by Node &amp; Express</h2>
        </header>
        <section class="container-fluid">
            <section>
                <h3>Acroynyms & Terminology:</h3>
                <ul>
                    <li>REST: REpresentational State Transfer - <a
                            href="https://www.codecademy.com/articles/what-is-rest" target="_blank">Definition &amp;
                            Discussion</a></li>
                    <li>API: Application Programming Interface - <a
                            href="https://www.freecodecamp.org/news/what-is-an-api-in-english-please-b880a3214a82/"
                            target="_blank">Definition &amp; Discussion</a></li>
                    <li>HTTP Methods / Verbs - <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods"
                            target="_blank">Definition &amp; Discussion</a></li>
                    <li>HTTP Response Status Codes - <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
                            target="_blank">Listing of Codes</a></li>
                    <li>CRUD: Create, Read, Update, Delete - <a href="https://www.codecademy.com/articles/what-is-crud"
                            target="_blank">Definition &amp; Discussion</a></li>
                    <li>CORS: Cross-Origin Resource Sharing - <a
                            href="https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS" target="_blank">Definition
                            &amp; Discussion</a></li>
                </ul>
            </section>
            <section>
                <h3>Introduction</h3>
                <p>An example of a modern, RESTful, scalable web service built with <a
                        href="https://nodejs.org/en/about/" target="_blank">Node</a> and <a
                        href="https://expressjs.com/" target="_blank">Express</a>.</p>
            </section>
            <section>
                <h3>Challenge Description</h3>
                <p>In this challenge, you design and create a web API to manage the following resources: Projects
                and Actions.</p>
                <ul>
                    <li>A model for Users, Projects, and Actions</li>
                    <li>Create Users using a POST request</li>
                    <li> Create a Project Using a POST Request</li>
                    <li>Create Actions using a POST Request</li>
                    <li>Authenticate users and generate token</li>
                    <li>Get all Projects Using a GET Request</li>
                    <li>Get a project by id</li>
                    <li>Update an existing project using a PUT Request</li>
                    <li>Update property of a particular project using PATCH</li>
                    <li>Delete a project using DELETE</li>
                    <li>Create actions using POST</li>
                    <li>Get list of all Actions using GET</li>
                </ul>
            </section>
            <hr>
            <section>
                <h2 class="display-5">API Details:</h2>
                <h3>Accept Parameters</h3>
                <p>The API will respond to the following 'Accept:' values with appropriate content.</p>
                <ul>
                    <li>text/plain - Content will be returned as a plain string.</li>
                    <li>application/json - Content will be returned as a JSON object.</li>
                    <li>text/html - Content will be returned as an HTML page containing key:value pairs in an unordered
                        list.</li>
                </ul>
                <h3>Operations</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Method</th>
                            <th>Path</th>
                            <th>Arguments</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>GET</td>
                            <td>/</td>
                            <td>Not Require</td>
                            <td>This page. <em>HTML response.</em></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>/users</td>
                            <td>Not Require</td>
                            <td>This will return list of available user in this format <code>{"message": data}</code>. <em>JSON
                                    response.</em></td>
                        </tr>
                    
                        <tr>
                            <td>POST</td>
                            <td>/users</td>
                            <td>username <br>password</td>
                                <td>Return user object in this format <code>{"username":your_email, "password":encrypted_password, _id:Unique_id}</code></td>
                            
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>/authenticate</td>
                            <td>username <br>password</td>
                            <td>This Will return the current user, message and token <code>{"user": user_email, message:"message", token:jwt_token}</code>. <em>JSON
                                    response.</em></td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>/action</td>
                            <td>Not Require</td>

                            <td>This Will return all actions available in this format <code>{message:action_list</code> parameter
                               
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>/action</td>
                            <td>project_id <br>description<br>note</td>
                            <td>Will return the newly create action object in JSON format.</td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>/action/id</td>
                            <td>ID require</td>
                            <td>Will return a single action that match the id send in JSON format</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>/project</td>
                            <td>not Require</td>
                            <td>Will return all project in Json format.</td>
                        </tr>
                        <tr>
                            <td>GET</td>
                            <td>/project/id</td>
                            <td>id <br> Require as query parameter </td>
                            <td>This will create a new project Object and return it in a JSON format </td>
                        </tr>
                        <tr>
                            <td>POST</td>
                            <td>/project</td>
                            <td>name <br> description <br>note</td>
                            <td>This will create a new project Object and return it in a JSON format </td>
                        </tr>
                        <tr>
                            <td>PUT</td>
                            <td>/project/id</td>
                            <td>name <br> description <br>complete</td>
                            <td>This will update an existing project with the specified id and return the update object in this format <code>{message:data}</code> </td>
                        </tr>
                        <tr>
                            <td>PATCH</td>
                            <td>/project/id</td>
                            <td>name <br> description <br>complete</td>
                            <td>This will update an existing project with the specified id and return the update object in this format
                                <code>{message:data}</code> </td>
                        </tr>
                        <tr>
                            <td>DELETE</td>
                            <td>/project/id</td>
                            <td>id <br> Require as query parameter </td>
                            <td>This will delete an existing project with the specified </td>
                        </tr>
                    </tbody>
                </table>
                <h3>Testing</h3>
                <p>
                    Test CRUD operations, Accept parameters, and construct requests with
                    <a href="https://www.getpostman.com/" target="_blank">Postman</a>.
                </p>
                <h3>Suggestions / Contributions</h3>
                <p>
                    All suggestions are welcome. This simple RESTful API is intended to be an
                    example web service for students.
                </p>
                <a href="https://github.com/garantor/NodeVGG" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://twitter.com/Har4labiM" target="_blank">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/afolabisunday/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </section>
            <section>
                <h3>Thanks</h3>
                <p>Special thanks to <a href="https://twitter.com/yesdavidgray" target="_blank"> Gray </a> for Providing us with this template. </p>
            </section>
        </section>
    </main>
</body>

</html>